<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.jerleo.android"
    android:versionCode="1"
    android:versionName="1.0">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="de.jerleo.android.activity.ActivityMain"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="de.jerleo.android.activity.ActivityBill" />
        <activity android:name="de.jerleo.android.activity.ActivityMeter" />
        <activity android:name="de.jerleo.android.activity.ActivityReading" />
        <activity android:name="de.jerleo.android.activity.ActivityTariff" />
        <activity android:name="de.jerleo.android.activity.ReadingChart" />
        <activity android:name="de.jerleo.android.list.ListReading" />
        <activity android:name="de.jerleo.android.list.ListTariff" />

    </application>

</manifest>